<div class="mb-2">
  <div class="">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="">
  <div class="mt-2">
    <a
      href="#"
      class="flex justify-between border border-1 border-gray-300 p-2 rounded-md"
      *ngFor="let recipeItem of recipes"
    >
      <div class="">
        <h4 class="">{{ recipeItem?.name }}</h4>
        <p class="">{{ recipeItem?.description }}</p>
      </div>
      <span class="">
        <img
          src="{{ recipeItem?.imagePath }}"
          alt="{{ recipeItem?.name }}"
          class="img-responsive"
          style="max-height: 50px"
        />
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
