<div class="">
  <div class="">
    <form>
      <div class="flex space-x-10">
        <div class="">
          <label for="name">Name</label>
          <input
            type="text"
            placeholder="Name"
            class="input input-bordered input-accent w-full max-w-xs"
          />
        </div>
        <div class="">
          <label for="name">Amount</label>
          <input
            type="number"
            placeholder="Amount"
            class="input input-bordered input-accent w-full max-w-xs"
          />
        </div>
      </div>
      <div class="mt-2">
        <div class="space-x-2">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
