<div class="">
  <div class="">
    <div class="flex space-y-2 md:space-y-0 flex-col md:flex-row md:space-x-10">
      <div class="flex flex-col space-y-2">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          placeholder="Name"
          class="input input-bordered input-accent w-full max-w-xs"
          #nameInput
        />
      </div>
      <div class="flex flex-col space-y-2">
        <label for="amount">Amount</label>
        <input
          #amountInput
          id="amount"
          type="number"
          placeholder="Amount"
          class="input input-bordered input-accent w-full max-w-xs"
        />
      </div>
    </div>
    <div class="mt-5">
      <div class="space-x-4">
        <button
          class="btn btn-success btn-sm"
          type="button"
          (click)="onAddItem()"
        >
          Add
        </button>
        <button
          class="btn btn-primary btn-sm"
          type="button"
          (click)="onClearFields()"
        >
          Clear
        </button>
      </div>
    </div>
  </div>
</div>
