<div class="flex justify-center items-center mt-10 rounded-lg">
  <div
    class="hero h-[500px] w-full rounded-lg"
    style="background-image: url(assets/images/home-banner.png)"
  >
    <div class="hero-overlay bg-opacity-60 rounded-lg"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Recipe Book</h1>
        <p class="mb-5">
          This is a simple recipe management app. You can add, edit, delete and
          view recipes. You can also add ingredients to a shopping list.
        </p>
        <a routerLink="/recipes"
          ><button class="btn btn-primary">Get Started</button></a
        >
      </div>
    </div>
  </div>
</div>
